/.gitattributes export-ignore
/.gitignore export-ignore
/.github export-ignore
/.phpunit.cache export-ignore
/tests export-ignore
/tmp export-ignore
/vendor export-ignore
/infection.json.dist export-ignore
/phpunit.xml export-ignore
/psalm.xml export-ignore
