/.idea
/config/local/
/config/*.db
/config/*.json
/config/*.key
!/config/local/.gitkeep
/composer.lock
/composer.phar
/infection.log
/tmp/
/tmp/*
!/tmp/.gitkeep
/vendor
/.phpunit.cache
/.php-cs-fixer.cache
